# Node.js
frontend/node_modules/
frontend/dist/

# Python
backend/venv/
backend/__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/

# Miscellaneous
.DS_Store
*.log
*.swp
*.swo
*.swn
.idea/
.vscode/
